<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="author" content="KWSF">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/syllabusStep/baseStyle.css">
    <link rel="stylesheet" href="css/syllabusStep/policyStyle.css">
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="manage.html">Management</a></li>
            <li {% if active_page == 'contactLib' %} class='active' {% endif %}><a href="contactLib.html">Contact
                Library</a></li>
            <li {% if active_page == 'textbookLib' %} class='active' {% endif %}><a href="textbookLib.html">Textbook
                Library</a></li>
            <li {% if active_page == 'policyLib' %} class='active' {% endif %}><a href="policyLib.html">Policy
                Library</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li {% if active_page == 'schedule' %} class='active' {% endif %}><a href="/schedule">Schedule</a></li>
            <li><a>Welcome, {{ session['username'] }}!</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="backgroundHolder stepBackground">
    <div class="borderedHolder solidBackground centeredText stepContainer">
        <div id="yourContentHere">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>