{% extends "syllabusStepMaster.html" %}

{% block title %}Confirm Your Syllabus{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<h1 class="col-md-12 text-center">Input your course information</h1>

<form action="/syllabusStepCourseNumber.html" method="post">
    <div class="col-sm-12 text-center">
        <div>Course Number</div>
        <label>
            <select name="course-number">
                <option value="317">317</option>
                <option value="417">417</option>
                <option value="431">431</option>
                <option value="535">535</option>
            </select>
        </label>
    </div>
    <div class="col-sm-12 text-center">
        <input class="btn btn-default btn-block marginOverride" type="submit" value="Save and Continue">
    </div>
</form>

{% endblock %}